services:
  build:
    build:
      context: .
      dockerfile: Dockerfile.build
    platform: linux/amd64
    volumes:
      - .:/workspace

  python:
    build:
      context: .
      dockerfile: Dockerfile.python
    command: python scripts/preflight.py --device cpu --model-name Helsinki-NLP/opus-mt-en-fr
    platform: linux/amd64
    volumes:
      - .:/workspace
